body {
  font-family: "Roboto", sans-serif;
  color: #26292e;
  margin: 0;
}

h2 {
  color: #502b1c;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

h3, .comprar {
  color: #145430;
  font-weight: bold;
  margin: 0;
}

li,
p {
  line-height: 1.6;
  margin: 0;
}

/* Estilos relacionados al Menú Principal */
nav {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 0 !important;
  background-color: #EDF9D7 !important;
}

.barraNav{
  width:100%;
}

.menuBar{
  min-width:200px;
  text-align:center;
  color: rgba(0,0,0,.55);
  text-decoration: none;
}

.menuBar:hover{
  background-color: #C18864;
  color: #502b1c;
}

.menuBarActive{
  background-color: #8dcc1760;
  color: #145430;
}

.menuLaterales{
  padding-top: 8px;
}

.subMenuBar{
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.margenesContenido{
  max-width: 1200px;
  margin: 10px auto
}

.estiloCard{
  max-width: 500px;
  border: #145430 solid 2px;
  border-radius: 10px;
}

.headerCard{
  text-align: left;
  background-color: #C18864;
  color:#fff;
  font-size: 1.2rem;
}

.headerCardCategory{
  text-align: left;
  background-color: #145430;
  color:#fff;
  font-size: 1.2rem;
}

.footerCard{
  text-align: right;
  background-color: #EDF9D7;
  font-weight: bold;
  font-size: 1.2rem;
}

.borde-sin-curva{
  border-radius: 0;
}

.botonComprar{
  background-color: #C18864;
}

.botonComprar:hover{
  background-color: #502b1c;
}

.botonTerminarCompra{
  background-color: #3C6F10;
}

.botonTerminarCompra:hover{
  background-color: #145430;
}

.cajaTextoCantidad{
  text-align: center;
}

.estilo-popup{
  background-color: #C18864;
  color:#ffffff;
  font-weight: bold;
}

.detalleFooter {
  background: linear-gradient(to top, #502b1c, #c18864);
}
.detalleFooter__texto {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

.espacioTitulo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.espacioDescripcion{
  text-align: center;
  font-size: 28px;
}

.resumenCompra{
  font-size: 10px;
  width: 400px;
  height: 300px;
  padding: 10px;
  background-color: #EDF9D7;
  overflow-y: scroll;
  position: fixed;
  z-index: 100;
}
